@{
	ViewsData[Title] = "Home_Page";

}
</br>

<div class="container">
	<div class="col-md-12">
		<textarea id="displaymensagem" cols="100" rows="20"></textarea>
		</br>
		<label>Mensagem:</label> <input type="text" id="mensagens" style="width:500px"/>
		<input type="button" id="Enviar" value="Enviar" />
	</div>
</div>
<a href="~/lib/jquery/dist/jquery.min.map">~/lib/jquery/dist/jquery.min.map</a>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/javascript.js"></script>