@{
    ViewData["Title"] = "Sobre";

}




<section class="featured-properties">
    <h2>Nossos Colaboradores</h2>

    <section class="featured-properties">
        Bem-vindo a Invents! Somos uma equipe dedicada a oferecer praticidade e facilidade para conectar você produtor de evento com fornecedores prezando a qualidade, confiabilidade e custo. Nossa equipe trabalha com o compromisso de proporcionar a solução para a dificuldade de encontrar fornecedores de qualidade para o seu evento.

        Acreditamos no padrão de qualidade, na inovação, e isso reflete em tudo o que fazemos. Nosso objetivo é construir relacionamentos de confiança com nossos clientes, parceiros e colaboradores, sempre entregando resultados que superem expectativas.

        Conte com a gente para transformar suas ideias em realidade. Juntos, podemos alcançar grandes resultados!
    </section>

    <div class="property-list">
        <div class="property-card">
            <img src="~/Imagens/ana.png" width="365px" alt="Property Image">
            <div class="property-info">
                <h3>Ana Elisa</h3>
                <p>Dev Back-end</p>
            </div>
        </div>
        <div class="property-card">
            <img src="~/imagens/sofia.png" alt="Property Image">
            <div class="property-info">
                <h3>Sofia Costa</h3>
                <p>Dev Full-stack</p>
            </div>
        </div>
        <div class="property-card">
            <img src="~/imagens/isadora.png" alt="Property Image">
            <div class="property-info">
                <h3>Isadora Doria</h3>
                <p>Dev Back-end</p>
            </div>
        </div>

        <div class="property-card">
            <img src="~/imagens/eu.png" alt="Property Image">
            <div class="property-info">
                <h3>Luiz Felipe</h3>
                <p>Dev Full-stack</p>
            </div>
        </div>

        <div class="property-card">
            <img src="~/imagens/braguinha.png" alt="Property Image">
            <div class="property-info">
                <h3>João Braga</h3>
                <p>Dev Front-end</p>
            </div>
        </div>
    </div>
</section>